{% extends 'base.html' %}
{% block title %}Accueil - Mon Portfolio{% endblock %}
{% block content %}
<h1>Bonjour, je suis Flen Foulen</h1>
<p>Ingénieur logiciel passionné par l’IA, le web et la data.</p>

<h2>Mes Projets</h2>
<ul>
    <li>🔍 Application de scraping hôtelier</li>
    <li>🤖 Chatbot intelligent avec LangChain</li>
    <li>📊 Visualisation de données agricoles</li>
</ul>

<h2>Compétences</h2>
<p>Python, Flask, Angular, .NET, Pandas, CSPro, LangChain...</p>
{% endblock %}
